.atto_fontawesome_map ul {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.atto_fontawesome_map li {
    display: inline-block;
    white-space: nowrap;
}

.atto_fontawesome_map li div {
    padding: 0 1em;
}

a.atto_fontawesome_emote {
    color: black;
    margin: 5px;
    width: 30px;
    display: inline-block;
}

a.atto_fontawesome_emote:hover {
    color:  #a9a9a9;
}